body.post {

    @include responsive(767) {
        header {
            background-color: #000;

            .logo {
                background-color: transparent;
            }
        }

        main {
            padding: 0px;
        }
    }
}

section.singlePost {
    float: left;
    width: 100%;
    padding: 0px 0 80px;

    @include responsive(767) {
        padding: 0px 0px 80px 0px;
    }

    .featureBlock {
        float: left;
        width: 100%;
        position: relative;
        padding-top: 52.65%;
        margin-bottom: 28px;

        @include responsive(767) {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
            padding-top: 150%;
        }

        .image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: center center;
        }

        .video {
            position: absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            object-fit: cover;
            z-index: 1;
        }
    }

    .postDetails {
        float: left;
        width: 100%;
        height: 19px;
        margin-bottom: 38px;

        span {
            position: relative;
            float: left;
            font-family: $font-base;
            font-size: 12px;
            line-height: 19px;
            text-align: left;
            color: #838383;
            text-transform: uppercase;

            &:first-child {
                margin-right: 20px;

                &:after {
                    content: '|';
                    position: absolute;
                    right: -12px;
                    top: 0px;
                    font-family: $font-base;
                    font-size: 12px;
                    line-height: 19px;
                    text-align: left;
                    color: #838383;
                    text-transform: uppercase;
                }
            }
        }

        .podcast,
        .watchIcon {
            float: left;
            width: 19px;
            height: 19px;
            margin-left: 10px;

            &:after {
                display: none;
            }

            img {
                width: 100%;
            }
        }
    }

    .fullWidth {
        .left {
            h2 {
                float: left;
                width: 100%;
                font-family: $font-base;
                weight: bold;
                font-size: 24px;
                margin-bottom: 12px;
                line-height: 1.25;
            }

            hr {
                float: left;
                width: 43px;
                height: 5px;
                background-color: $color-red;
                margin: 0 0 54px 0;
                clear: both;
            }

            .author {
                float: left;
                width: 100%;
                margin-bottom: 20px;

                .authorSingle {
                    float: left;
                    width: auto;
                    margin-right: 30px;
                    margin-bottom: 20px;
                }

                .label {
                    float: left;
                    width: 100%;
                    color: $color-red;
                    font-family: $font-light;
                    font-size: 14px;
                    text-transform: uppercase;
                }

                hr {
                    width: 20px;
                    height: 3px;
                    margin: 5px 0 10px;
                }

                .authorImage {
                    float: left;
                    width: 75px;
                    height: 80px;
                    border-radius: 3px;
                    margin-right: 17px;
                    background-size: cover;
                    background-position: center center;
                    background-color: #f2f2f2;
                }

                .authorText {
                    float: left;
                    padding-top: 5px;
                    margin-bottom: 0px;

                    .authorName {
                        float: left;
                        clear: both;
                        font-family: $font-light;
                        font-size: 14px;
                        line-height: 1.21;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000000;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                    }

                    .authorDescription {
                        float: left;
                        clear: both;
                        font-family: $font-base;
                        font-size: 12px;
                        line-height: 1.5;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000000;
                    }

                    .logoWrapper {
                        float: left;
                        width: 100%;
                        margin: 15px 0 20px 0;

                        .logoContainer {
                            float: left;
                            width: 100px;
                            position: relative;
                            padding-top: 11%;

                            .logo {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                background-size: contain;
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }

            .podcastPlayer {
                float: left;
                width: 100%;
                margin-bottom: 40px;

                @include responsive(767) {
            		margin-bottom: 0px;
                }

                a.button.audioReveal {
                    position: relative;
                    padding-left: 18px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        right: 18px;
                        top: 17px;
                        background-image: url('../images/full-arrow-white.svg');
                        background-repeat: no-repeat;
                        width: 13.61px;
                        height: 16.1px;
                    }
                }

                .audioWrapper {
                    float: left;
                    position: relative;
                    width: 100%;
                    margin-top: 30px;
                    display: none;

                    &.show {
                        display: block;

                        a.close {
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            width: 11.6px;
                            height: 11.6px;
                            content: ' ';
                            background-image: url('../images/close.svg');
                            background-size: 11.6px 11.6px;
                        }
                    }

                    // .mejs-container {
                    //     width: 100% !important;
                    //     height: 130px !important;
                    // }

                    //
                    //
                    // .mejs-time-total {
                    //     margin: 0px !important;
                    // }
                    //
                    // .mejs-time-loaded,
                    // .mejs-time-slider {
                    //     height: 3px !important;
                    // }
                    //
                    // .mejs-time-current {
                    //     color: $color-red !important;
                    //     height: 3px !important;
                    // }
                    //
                    // .mejs-time-rail {
                    //     background-color: rgba(255,255,255,0.6)!important;
                    //     height: 3px !important;
                    //     padding: 0 !important;
                    // }
                }
            }
        }

        .right {
            .share {
                float: left;
                width: 100%;

                a {
                    float: left;
                    margin-right: 15px;
                    text-align: center;

                    img {
                        float: left;
                        width: 25px;
                        height: 25px;
                        clear: both;
                        margin-bottom: 2px;
                    }

                    span {
                        float: left;
                        clear: both;
                        font-family: $font-main;
                        font-size: 12px;
                        line-height: 1.25;
                        letter-spacing: normal;
                        text-align: center;
                        color: #000000;
                    }
                }
            }
        }
    }
}

.articleWrapper {
    float: left;
    width: 100%;

    p {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    ul {
        list-style-type: disc;
        li {
            padding-left:10px;
            list-style-position: outside;
            margin-bottom: 10px;
        }
    }
}

.sideArticles {
    float: left;
    width: 100%;

    @include responsive(767) {
        display: none;
    }

    h2 {
        float: left;
        width: 100%;
        font-family: $font-light;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-bottom: 22px;
        text-transform: uppercase;
    }

    .relatedArticle {
        float: left;
        width: 100%;
        border-bottom: 1px solid $color-red;
        margin-bottom: 35px;

        .postDetails {
            margin-bottom: 15px !important;
        }

        a {
            float: left;
            width: 100%;
            font-family: $font-base;
            font-size: 14px;
            font-style: bold;
            line-height: 1.43;
            text-align: left;
            color: #000;
            padding-bottom: 17px;
            @include transition();

            &:hover {
                color: $color-red;
            }
        }
    }
}

.imageGridBlock {
    float: left;
    width: 100%;
    padding: 94px 0 6px;

    @include responsive(767) {
        padding: 64px 0 6px;
    }

    &.grey {
        background-color: #f2f2f2;
    }

    h2 {
        float: left;
        width: 100%;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 40px;

        @include responsive(767) {
            margin-bottom: 20px;
        }
    }

    .gridWrapper {
        float: left;
        width: 100%;
        text-align: center;

        .item {
            float: left;
            cursor: pointer;
            width: calc(24.7% - 81.75px);
            margin-left: 109px;
            margin-bottom: 40px;

            @include responsive(1023) {
                margin-left: 50px;
                width: calc(24.7% - 37.5px);
            }

            @include responsive(767) {
                margin-left: 10px;
                width: calc(50% - 5px);
                margin-bottom: 20px;
            }

            &:nth-child(4n + 1) {
                margin-left: 0px;
            }

            &:nth-child(2n + 1) {
                @include responsive(767) {
                    margin-left: 0px;
                }
            }

            .imageContainer {
                position: relative;
                width: 100%;
                padding-top: 100%;
                margin-bottom: 20px;

                .image {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-size: cover;
                    background-position: center center;
                    border-radius: 3px;
                }
            }

            hr {
                margin-bottom: 20px;
            }

            .title {
                float: left;
                clear: both;
                font-family: $font-light;
                font-size: 14px;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                text-transform: uppercase;
                margin-bottom: 10px;
                width: 100%;
            }

            .description {
                float: left;
                clear: both;
                font-family: $font-base;
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-bottom: 10px;
            }

            .logoContainer {
                float: left;
                width: 60%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                margin-top: 12px;
                text-align: left;

                img {
                    width: 100%;
                }
            }
        }
    }
}

section.textImageBlock {
    float: left;
    width: 100%;
    padding: 87px 0 105px 0;

    @include responsive(1023) {

    }

    &.grey {
        background-color: #f2f2f2;
    }

    .title {
        text-align: center;

        h2 {
            float: left;
            width: 100%;
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: 21px;
            text-align: center;
        }

        hr {
            float: none;
            display: inline-block;
        }
    }

    .itemsWrapper {
        float: left;
        width: 100%;

        .item {
            float: left;
            cursor: pointer;
            width: calc(33.2% - 102px);
            margin-left: 153px;
            text-align: center;

            @include responsive(1023) {
                margin-left: 75px;
                width: calc(33.2% - 50px);
            }

            @include responsive(767) {
                width: 100%;
                margin-left: 0px;
                margin-bottom: 60px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            &:nth-child(3n + 1) {
                margin-left: 0px;
            }

            .imageContainer {
                position: relative;
                float: none;
                display: inline-block;
                width: 45%;
                padding-top: 50%;
                margin-bottom: 30px;

                @include responsive(1023) {
                    width: 80%;
                    padding-top: 80%;
                }

                @include responsive(767) {
                    width: 40%;
                    padding-top: 40%;
                }

                .image {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-size: cover;
                    background-position: center center;
                }
            }

            .title {
                float: left;
                width: 100%;
                clear: both;
                font-family: $font-light;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
                text-transform: none;
                margin-bottom: 20px;
            }

            .description {
                float: left;
                width: 100%;
                clear: both;
                font-family: $font-base;
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
                margin-bottom: 10px;
            }

            .logoContainer {
                float: left;
                width: 100%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                margin-top: 12px;
                text-align: left;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.relatedArticlesCarousel {
    float: left;
    width: 100%;
    padding: 60px 0 55px;

    @include responsive(767) {
        padding: 40px 0 35px;
    }

    h2 {
        float: left;
        width: 100%;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 30px;
        font-size: 14px;
        font-family: $font-light;
        color: #000;
    }

    .owl-nav {
        position: absolute;
        top: -30px;
        right: 0px;

        button {
            background: 10px 10px;
        }
    }

    div.owl-dots {
        width: 100%;
        bottom: -30px;
        text-align: center;

        @include responsive(767) {
    		bottom: -5px !important;
    	}

        button.owl-dot {
            display: inline-block;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            margin: 0 5px;
            background: #e1e1e1;
            border: none;

            &:first-child {
                margin-left: 0px;
            }

            &.active {
                background-color: #000;
            }
        }
    }

    .articlesCarousel {
        float: left;
        width: 100%;

        .relatedArticle {
            float: left;
            width: 100%;
            border-radius: 3px;
            box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;

            .imageContainer {
                position: relative;
                float: left;
                width: 100%;
                padding-top: 72%;

                .image {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-size: cover;
                    background-position: center center;
                    border-radius: 3px 3px 0px 0px;
                }

                .podcast {
                    position: absolute;
                    width: 19px;
                    height: 19px;
                    bottom: 17px;
                    top: 24px;
                    left: 24px;

                    &:after {
                        display: none;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            .postDetails {
                float: left;
                width: 100%;
                padding: 20px 27px;

                @include responsive(767) {
            		padding: 20px 24px;
            	}

                .info {
                    float: left;
                    width: 100%;
                    margin-bottom: 27px;
                }

                span {
                    position: relative;
                    float: left;
                    font-family: $font-base;
                    font-size: 12px;
                    line-height: 19px;
                    text-align: left;
                    color: #838383;
                    text-transform: uppercase;

                    &.readTime {
                        &:after {
                            display: none;
                        }
                    }

                    &.date {
                        margin-right: 20px;

                        &:after {
                            content: '|';
                            position: absolute;
                            right: -12px;
                            top: 0px;
                            font-family: $font-base;
                            font-size: 12px;
                            line-height: 19px;
                            text-align: left;
                            color: #838383;
                            text-transform: uppercase;
                        }
                    }
                }

                .articleLink {
                    float: left;
                    width: 100%;
                    color: #000;
                    margin-bottom: 26px;
                    font-family: $font-base;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 1.43;
                    text-transform: none;
                }

                .tags {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.tags {
    float: left;
    width: 100%;
    margin-bottom: 34px;

    span {
        float: left;
        margin-right: 10px;
        font-family: $font-base;
        font-size: 12px;
        line-height: 1.25;
        text-align: left;
        color: #838383;
        text-transform: uppercase;
    }
}

section.singlePost.locked {
    position: relative;

    .lockOverlay {
        position: absolute;
        bottom: 80px;
        left: 0px;
        width: 100%;
        height: 60px;
        z-index: 50;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    span.excerpt {
        float: left;
        width: 100%;
        text-align: left;
        color: #000;
    }
}

.registrationOverlay {
    float: left;
    width: 100%;
    padding-bottom: 60px;

    hr.fullwidth {
        float: left;
        width: 100%;
        height: 1px;
        margin-bottom: 60px;
    }

    .titleBlock {
        float: left;
        width: 100%;

        h3 {
            clear: both;
            margin-bottom: 30px;
        }

        hr {
            margin-bottom: 20px;
        }

        a.button {
            display: inline-block;
        }

        .textLink {
            font-family: $font-light;
            font-size: 13px;
            color: #838383;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 15px;
        }
    }

    a.back-button {
        float: left;
        text-transform: uppercase;
        color: #000;
        padding-left: 20px;
        position: relative;
        margin-top: 20px;

        &:before {
            width: 6.2px;
            height: 9.5px;
            background-image: url('../images/arrow-left-black.svg');
            background-repeat: no-repeat;
            position: absolute;
            left: 0px;
            top: 3px;
            content: '';
        }
    }
}

section.singlePost {
    .container {
        a.back-button {
            float: left;
            text-transform: uppercase;
            color: #000;
            padding-left: 20px;
            position: relative;
            margin-bottom: 20px;

            &:before {
                width: 6.2px;
                height: 9.5px;
                background-image: url('../images/arrow-left-black.svg');
                background-repeat: no-repeat;
                position: absolute;
                left: 0px;
                top: 3px;
                content: '';
    		}
        }
    }
}
